.header {
    .header__top {
        display: grid;
        grid-template-columns: 70px auto auto;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        height: 65px;
        padding: 0px 18px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: white;

        .header__burger-btn {
            grid-column: 1;
            grid-row: 1 / 3;
        }

        .logo{
            grid-column: 2;
            grid-row: 1 / 3;
        }

        .phone-number {
            grid-column: 3;
            grid-row: 1;
            font-size: 16px;
            font-weight: bold;
            place-self: end;
        }

        .address__city {
            grid-column: 3;
            grid-row: 2;
            font-size: 13px;
            place-self: start end;
        }

        .header__burger-btn {
            position: relative;
            width: 45px;
            height: 45px;
            border: none;
            background-color: white;
        }
    
        .header__burger-btn span {
            position: absolute;
            width: 37px;
            height: 4px;
            background-color: #1FA181;
            left: 4px;
            top: 21px;
            transition: transform .5s, opacity .5s;
        }
    
        .header__burger-btn span:nth-child(1) {
            transform: translateY(-13px);
        }
    
        .header__burger-btn span:nth-child(3) {
            transform: translateY(13px);
        }

        .icon__place, 
        .address__street, 
        .icon__whatsapp,
        .btn__subscribe_green {
            display: none;
        }
    }

    .header__bottom {
        padding: 49px 19px;
        position: fixed;
        z-index: 3;
        background-color: rgba(31, 160, 129, 0.9);;
        width: 100%;
        height: 100%;
        top: 65px;
        display: flex;
        flex-direction: column;
        gap: 39px;
        left: -100%;
        transition: transform .5s;
    }
}

.header.open {
    .header__burger-btn {
        span:nth-child(1) {
            transform: translateY(0) rotate(-45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: translateY(0) rotate(45deg);
        }
    }
    
    .header__bottom {
        transform: translateX(100%);
    }
}

@media (min-width: 1024px) {
    .header {
        .header__top {
            grid-template-columns: 110px 20px 120px auto 27px 135px 230px;
            width: 60%;
            margin: auto;
            padding: 0;
            position: static;

            .header__burger-btn {
                display: none;
            }

            .logo {
                grid-column: 1;
                grid-row: 1 / 3;
            }

            .icon__place {
                display: block;
                grid-row: 1 / 2;
                align-self: end;
            }

            .address__city {
                font-size: 14px;
                grid-column: 3;
                grid-row: 1;
                place-self: end start;
            }

            .address__street {
                display: block;
                font-size: 14px;
                color: #868686;
                grid-column: 3;
                grid-row: 2;
                place-self: start start;
            }

            .icon__whatsapp {
                display: block;
                grid-column: 5;
                grid-row: 1 / 3; 
                justify-self: end;
            }

            .phone-number {
                grid-column: 6;
                grid-row: 1 / 3; 
                place-self: center;
            }

            .btn__subscribe_green {
                display: block !important;
                grid-column: 7;
                grid-row: 1 / 3; 
                justify-self: end;
            }
        }

        .header__bottom {
            position: static;
            background-color: #1FA181;;
            width: 100%;
            height: 43px;
            justify-content: center;
            padding: 0;

            .btn {
                display: none
            }
        }
    }
}