.main {
    position: relative;
    top: 65px;
    
    .info {
        display: flex;
        flex-direction: column;

        .info__image {
            width: 100%;
            min-width: 288px;
        }

        .info__description {
            background-color: #F8FBFA;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 34px 17px 53px;

            .info__title {
                font-weight: bold;
                font-size: 26px;
            }

            .info__text {
                font-size: 14px;
            }
        }
    }

    .services {        
        padding: 49px 18px 0;
        
        .services__content {
            display: flex;
            flex-direction: column;
            gap: 0;

            .services__top {
                width: 100%;
                display: flex;

                .services__image {
                    min-width: 340px;
                    min-height: 169px;
                    object-fit: cover;
                    border-radius: 5px 5px 0 0;
                }
            }
            
            .services__info {
                background-color: #E2F0EF;
                height: 367px;
                border-radius: 0 0 5px 5px;
                display: flex;
                flex-direction: column;
                padding: 22px 26px;

                .services__info-title {
                    font-size: 26px;
                    font-weight: bold;
                }

                .services__info-for {
                    font-size: 14px;
                    font-weight: bold;
                }

                .services__info-list {
                    padding: 0 12px 17px 19px; 
    
                    li {
                        font-size: 14px;
                        margin: 8px 0;
                    }
    
                    li::marker {
                        color: #1FA181;
                        font-size: 20px;
                    }
                }

                .services__price {
                    padding-bottom: 27px;

                    .services__now-price {
                        font-size: 18px;
                        padding-right: 10px;
                    }

                    .services__old-price {
                        font-size: 14px;
                        color: #868686;
                        text-decoration: line-through;
                    }
                }

                .services__button {
                    display: flex;
                    gap: 6px;
                }
            } 
        }
    }
}

@media (min-width: 1024px) {
    .main {
        position: static;
    }

    .info {
        display: flex;
        flex-direction: row-reverse !important;
        overflow: hidden;

        .info__image {
            min-width: 50% !important;
            object-fit: cover;
        }

        .info__description {
            min-width: 50%;
            padding-left: 20% !important;
            padding-right: 10% !important;
            padding-top: 6vw !important;
        }
    }

    .services {
        width: 60%;
        margin: auto;
        padding: 0 !important;
        padding-top: 100px !important;

        .services__content {
            width: 100%;
            position: relative !important;
            height: 440px !important;
            flex-direction: row-reverse !important;

            .services__top {
                position: absolute !important;
                width: 60% !important;
                z-index: 1;
                
                .services__image {
                    width: 100% !important;
                    height: 440px !important;
                    border-radius: 0 5px 5px 0 !important;
                }
            }

            .services__info {
                position: absolute !important;
                left: 0px;
                width: 60% !important;
                height: 440px !important;
                border-radius: 5px 0 0 5px !important;
                padding: 53px 20px 0 63px !important;
                clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
                z-index: 2;

                .services__info-title {
                    font-size: 38px !important;
                }

                .services__info-for {
                    font-size: 22px !important;
                }

                .services__info-list {
                    padding: 16px 0 33px 19px !important; 
    
                    li {
                        font-size: 16px;
                        margin: 8px 0;
                    }
    
                    li::marker {
                        color: #1FA181;
                        font-size: 20px;
                    }
                }

                .services__price {
                    .services__now-price {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}